/* ===========================
   Alertify Notifier
=========================== */

/* 오른쪽 아래 위치 */
.alertify-notifier.ajs-bottom.ajs-right {
  position: fixed !important;
  right: -200px !important;
  bottom: 20px !important;
  left: auto !important;
  top: auto !important;
  width: 520px !important;
  z-index: 999999 !important;
}

/* 토스트 메시지 */
.alertify-notifier.ajs-bottom.ajs-right .ajs-message {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  width: 500px !important;
  min-width: 500px !important;
  max-width: 500px !important;
  min-height: 70px !important;

  margin: 10px 0 !important;
  padding: 18px 24px !important;

  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;

  border-radius: 4px !important;
  box-sizing: border-box !important;
}

/* 성공 */
.alertify-notifier .ajs-message.my-success {
  background: #1619e7 !important;
  color: #ffffff !important;
}

/* 실패 */
.alertify-notifier .ajs-message.my-error {
  background: #f33d06 !important;
  color: #fcd5d5 !important;
}
